<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrxt.mapper.MenuMapper">
	
	<sql id="select_menu_fields" >
		id,
		name,
		urlType,
		appType,
		hostName,
		hostPoart,
		appName,
		pid,
		url,
		status,
		mark,
		imgName,
		orderNumber
	</sql>
	<sql id="insert_menu_fields" >
		#{id, mode=IN, jdbcType=VARCHAR},
		#{name, mode=IN, jdbcType=VARCHAR},
		#{urlType, mode=IN, jdbcType=VARCHAR},
		#{appType, mode=IN, jdbcType=VARCHAR},
		#{hostName, mode=IN, jdbcType=VARCHAR},
		#{hostPoart, mode=IN, jdbcType=VARCHAR},
		#{appName, mode=IN, jdbcType=VARCHAR},
		#{pid, mode=IN, jdbcType=VARCHAR},
		#{url, mode=IN, jdbcType=VARCHAR},
		#{status, mode=IN, jdbcType=VARCHAR},
		#{mark, mode=IN, jdbcType=VARCHAR},
		#{imgName, mode=IN, jdbcType=VARCHAR},
		#{orderNumber, mode=IN, jdbcType=VARCHAR}
	</sql>
	<sql id="update_menu_fields" >
		id		=	#{id, mode=IN, jdbcType=VARCHAR},
		name	=	#{name , mode=IN, jdbcType=VARCHAR},
		urlType	=	#{urlType , mode=IN, jdbcType=VARCHAR},
		appType=	#{appType, mode=IN, jdbcType=VARCHAR},
		hostName=	#{hostName, mode=IN, jdbcType=VARCHAR},
		hostPoart=	#{hostPoart, mode=IN, jdbcType=VARCHAR},
		appName	=	#{appName, mode=IN, jdbcType=VARCHAR},
		pid		=	#{pid, mode=IN, jdbcType=VARCHAR},
		url		=	#{url, mode=IN, jdbcType=VARCHAR},
		status	=	#{status, mode=IN, jdbcType=VARCHAR},
		mark	=	#{mark, mode=IN, jdbcType=VARCHAR},
		imgName	=	#{imgName, mode=IN, jdbcType=VARCHAR},
		orderNumber	=	#{orderNumber, mode=IN, jdbcType=VARCHAR}
	</sql>
	
	<insert id="insertMenu" parameterType="Menu">
		insert into 
		AUTH_MENU(
			id,
			name,
			urlType,
			appType,
			hostName,
			hostPoart,
			appName,
			pid,
			url,
			status,
			mark,
			imgName,
			orderNumber )
		values(
			#{id, mode=IN, jdbcType=VARCHAR},        
			#{name, mode=IN, jdbcType=VARCHAR},      
			#{urlType, mode=IN, jdbcType=VARCHAR},   
			#{appType, mode=IN, jdbcType=VARCHAR},   
			#{hostName, mode=IN, jdbcType=VARCHAR},  
			#{hostPoart, mode=IN, jdbcType=VARCHAR}, 
			#{appName, mode=IN, jdbcType=VARCHAR},   
			#{pid, mode=IN, jdbcType=VARCHAR},       
			#{url, mode=IN, jdbcType=VARCHAR},       
			#{status, mode=IN, jdbcType=VARCHAR},    
			#{mark, mode=IN, jdbcType=VARCHAR},      
			#{imgName, mode=IN, jdbcType=VARCHAR}, 
			#{orderNumber, mode=IN, jdbcType=VARCHAR}    
			)
	</insert>
	
	
	<delete id="deleteMenuByMenu" parameterType="Menu">
		delete 
		from AUTH_MENU 
		where id = #{id}
	</delete>
	<delete id="deleteMenuById" parameterType="String">
		delete 
		from AUTH_MENU 
		where id = #{value}
	</delete>
	<delete id="deleteMenuByIds" parameterType="String">
		delete 
		from AUTH_MENU 
		where id in( #{value} ) 
	</delete>	


	<update id="updateMenu" parameterType="Menu">
		update AUTH_MENU 
		set 
			id		=	#{id, mode=IN, jdbcType=VARCHAR},
			name	=	#{name , mode=IN, jdbcType=VARCHAR},
			urlType	=	#{urlType , mode=IN, jdbcType=VARCHAR},
			appType=	#{appType, mode=IN, jdbcType=VARCHAR},
			hostName=	#{hostName, mode=IN, jdbcType=VARCHAR},
			hostPoart=	#{hostPoart, mode=IN, jdbcType=VARCHAR},
			appName	=	#{appName, mode=IN, jdbcType=VARCHAR},
			pid		=	#{pid, mode=IN, jdbcType=VARCHAR},
			url		=	#{url, mode=IN, jdbcType=VARCHAR},
			status	=	#{status, mode=IN, jdbcType=VARCHAR},
			mark	=	#{mark, mode=IN, jdbcType=VARCHAR},
			imgName	=	#{imgName, mode=IN, jdbcType=VARCHAR},
			orderNumber =	#{orderNumber, mode=IN, jdbcType=VARCHAR}
		where id=#{id}
	</update>
	
	
	<select id="getMenus" resultType="Menu">
		select 
			<include refid="select_menu_fields"/>
		from AUTH_MENU
	</select>
	<select id="getMenusByUser" parameterType="User" resultType="Menu">
		select 
			distinct m.id,
			m.name,
			m.urlType,
			m.appType,
			m.hostName,
			m.hostPoart,
			m.appName,
			m.pid,
			m.url,
			m.status,
			m.mark,
			m.imgName,
			m.orderNumber
		from AUTH_MENU m ,
			 AUTH_ROLE_MENU rm,
			 AUTH_USER_ROLE ur
		where 
			m.id = rm.menu_id 
			and rm.role_id = ur.role_id
			and ur.user_id =  #{id, mode=IN, jdbcType=VARCHAR}
		order by m.ordernumber
	</select>
	
	<select id="getMenusByRole" parameterType="Role" resultType="Menu">
		select 
			m.id,
			m.name,
			m.urlType,
			m.appType,
			m.hostName,
			m.hostPoart,
			m.appName,
			m.pid,
			m.url,
			m.status,
			m.mark,
			m.imgName,
			m.orderNumber
		from AUTH_MENU m ,
			 AUTH_ROLE_MENU rm
		where 
			m.id = rm.menu_id 
			<if test=" id != null and id != ''">
				and rm.role_id =  #{id , mode=IN, jdbcType=VARCHAR}
			</if>
			
	</select>
	
	<select id="getMenusByButton" parameterType="Menu" resultType="Menu">
		select 
			<include refid="select_menu_fields"/> 
		from AUTH_MENU m
		where m.id = #{id , mode=IN, jdbcType=VARCHAR}
	</select>
	
	<select id="getMenuByMenu" parameterType="String" resultType="Menu">
		select 
			id,
			name,
			urlType,
			appType,
			hostName,
			hostPoart,
			appName,
			pid,
			url,
			status,
			mark,
			imgName,
			orderNumber
		from AUTH_MENU m
		where 1=1 
		<if test=" id != null and id != ''">
			START　WITH m.id = #{id , mode=IN, jdbcType=VARCHAR}
			 CONNECT BY PRiOR m.id = m.pid 
		</if> 
    	order by m.orderNumber	
	</select>
	
	<!-- 删除 角色菜单 -->
	<delete id="deleteRole_MenuTableByUserId"  >
		delete 
		from 
			AUTH_ROLE_MENU 
		where 
			role_id in( #{value, mode=IN, jdbcType=VARCHAR} ) 
	</delete>
	<!-- 为角色 重新分配菜单 -->
	<insert id="insertRole_MenuTable" parameterType="java.util.Map">
		insert into 
		AUTH_ROLE_MENU(
			role_id,
			menu_id
			) 
		values(
			#{role_id,mode=IN, jdbcType=VARCHAR},
			#{menu_id,mode=IN, jdbcType=VARCHAR}
			)
	</insert>
	
	

</mapper>